<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dwagbot.dmcheck</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string>REPLACE_WITH_FULL_PATH_TO_REPO/dwag-bot/simple-dm-reader.js</string>
    </array>
    <key>WorkingDirectory</key>
    <string>REPLACE_WITH_FULL_PATH_TO_REPO/dwag-bot</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>23</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>REPLACE_WITH_FULL_PATH_TO_REPO/dwag-bot/dm-check.log</string>
    <key>StandardErrorPath</key>
    <string>REPLACE_WITH_FULL_PATH_TO_REPO/dwag-bot/dm-check.log</string>
</dict>
</plist>